<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.enterat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <!-- Acceso a Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- Permisos para utilizar GCM -->
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	 
	
<permission android:name="com.enterat.gcm.permission.C2D_MESSAGE"
     android:protectionLevel="signature" />
<uses-permission android:name="com.enterat.gcm.permission.C2D_MESSAGE" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/txt_app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.enterat.interfaces.LoginActivity"
            android:label="@string/txt_app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.enterat.interfaces.PadresMainActivity"
            android:label="@string/txt_app_name" >
        </activity>
        <activity
            android:name="com.enterat.interfaces.PadresExamenesActivity"
            android:label="@string/txt_app_name" >
        </activity>
        <activity
            android:name="com.enterat.interfaces.PadresTasksActivity"
            android:label="@string/txt_app_name" >
        </activity>
        <activity
            android:name="com.enterat.interfaces.PadresAnunciosActivity"
            android:label="@string/txt_app_name" >
        </activity>
        <activity
            android:name="com.enterat.interfaces.PadresIncidenciasActivity"
            android:label="@string/txt_app_name" >
        </activity>
        <activity
            android:name="com.enterat.interfaces.ProfesorAdd"
            android:label="@string/txt_app_name" >
        </activity>
        <activity
            android:name="com.enterat.interfaces.AsignaturaActivity"
            android:label="@string/txt_app_name" >
        </activity>
   <activity
            android:name="com.enterat.interfaces.ProfesorMain"
            android:label="@string/txt_app_name" >
        </activity>
        

      
    <receiver
            android:name="com.enterat.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.enterat.gcm" />
            </intent-filter>
        </receiver>
        
        <service android:name="com.enterat.gcm.GCMIntentService" />
    </application>

</manifest>
